# Python
venv/
*.pyc
__pycache__/

# Environment-specific files
.env


# VSCode
.vscode/

# Operating system files
## macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
._*
.Spotlight-V100
.Trashes

## Windows
*.lnk
Thumbs.db
Desktop.ini

## Linux
*~
.nfs*

# Editor directories and files
.idea/
*.swp
